@model IEnumerable<MVC_learning.Models.Employee>
@using MVC_learning.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="font-family:Arial">
        <h2>Employee List</h2>
    <ul>
        @foreach (Employee emp in @Model)
        {
            <li>
                @Html.ActionLink(emp.Name,"Details",new {id=emp.Id })


            </li>
        }

    </ul>
        @Html.ActionLink("Back To Department","Index","Department")
    </div>
</body>
</html>
